.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.rectangle {
    display: flex;
    flex: 1;
}

.square {
    border: 1px solid black;
    flex: 1;
}

.black {
    background-color: black;
}
.white {
    background-color: white;
}